{{template "base" .}}

{{define "content"}}
    <p>
        <h1>Homeland</h1>
    </p>
    <p>
        <a href="/about">About us</a>
    </p>
    <img src="/static/images/hotel.jpg" width="1080" height="720">
{{end}}